<div class="imageview">
	<!-- todo, breadcrumbs? -->
	<ul class="tags">
		<li ng-repeat="tag in image.tags">{{ tag }}</li>
	</ul>

	<!-- don't show image if still processing? -->
	<img ng-src="{{ image.filename }}" class="image">

	<div class="meta">
		<span>md5: {{ image.md5 }}</span>
		<span>sha1: {{ image.sha1 }}</span>
		<span>filesize: {{ image.size.filesize }}</span>
		<span>dimensions: {{ image.size.height }}px &times; {{ image.size.width }}px</span>
		<span>rating: {{ image.size.rating }}</span>
		<span>added: <time class="reldate" datetime="{{ new Date(image.created).format('isoDateTime') }}" title="{{ new Date(image.created).format('dddd, mmmm dS, yyyy HH:MM:ss')) }}">{{ new Date(image.created).format('') }}</time></span>
		<span>sources: </span> <!-- list of URIs -->
	</div>
</div>
