<div class="container imagenew">
	<script>
		window.ondrop = window.ondragover = function(e) {
			e.preventDefault()
			return false
		}
		handleUpload($('.imagedisplay')[0])
	</script>
	<form name="imagedata" class="form-horizontal" role="form">
		<fieldset>
			<legend>Add a new image</legend>

			<div class="form-group imagepreview">
				<label class="control-label col-lg-2" for="Image">Image</label>
				<div class="col-lg-10">
					<div class="imagedisplay"></div>
					<!--
					Todo: make this a set height/width, then add hover effects etc. to it.
					will handle drag/drop "upload"
					-->
					<div class="imagemeta">
						<span id="height">0px</span> &times; <span id="width">0px</span> (<span id="weight">0b</span>)
					</div>
					<span class="help-block">(Drag an image into me!)</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-2" for="tags">Tags</label>
				<div class="col-lg-10">
					<textarea rows="3" id="tags" class="form-control"></textarea>
					<span class="help-block">(comma separated)</span>
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-2" for="source">Source</label>
				<!-- todo allow for adding more sources with a button...or just textarea split? dunno -->
				<div class="col-lg-10">
					<input type="text" id="source" class="form-control" placeholder="http://...">
				</div>
			</div>

			<div class="form-group">
				<label class="control-label col-lg-2" for="rating">Rating</label>
				<div class="col-lg-10">
					<div class="btn-group" id="rating" data-toggle="buttons">
						<label class="btn btn-success">
							<input type="radio" name="options" id="rating1"> Safe
						</label>
						<label class="btn btn-warning">
							<input type="radio" name="options" id="rating2" checked> Questionable
						</label>
						<label class="btn btn-danger">
							<input type="radio" name="options" id="rating3"> Explicit
						</label>
					</div>
				</div>
			</div>

			<div class="form-group">
				<div class="col-lg-offset-2 col-lg-10">
					<button type="submit" class="btn btn-default">Submit</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
